body {
	background-color: black !important;
}

p {
	font-family: helvetica;
	color: white;
	text-align: center;
}

h1 {
	color:white !important;
	font-family: helvetica !important;
	text-align: center;
	font-size: 48px !important;
	border-top: white 4px solid;
	border-bottom: white 4px solid;

}

h3 {
	color: white !important;
	font-family: helvetica !important;
	text-align: center;
}

h4 {
	color: white !important;
	font-family: helvetica !important;
	text-align: center;
}

img {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
	height: 100px;
	width: 100px;
	text-align: center;
}

div {
	margin: 0 auto;
	width: 500px;
}

#red {
	color: red !important;
}
